body {
    font: small arial, sans-serif;
    margin: 0;
    text-align: -webkit-center;
    overflow: hidden;
    clear: both;
}
.header {
    display: block;
    height: 197px;
}
.menu {
    display: inline-block;
    float: right;
    width: 265px;
    height: 50px;
    line-height: 50px;
    margin: 6px;
}
.nav {
    display: inline-block;
    padding-right: 1px;
}
#menuImg {
    vertical-align: middle;
    width: 66%
}
#signin {
    width: 66px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    text-align: center;
    margin: 0
}
#signInLink {
    color: white;
    margin: auto;
}
.mainContent {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#logoImg {
    width: 27.25%;
    margin-bottom: 26px;
}
#searchBox {
    display: block;
    width: 580px;
    height: 38px;
    border: 1px solid #D9D9D9;
    margin: auto auto 33px auto;
}
#searchBox:hover {
    border: 1px solid #C6C6C6;
}
#search {
    display: block;
    position: relative;
    top: 2.5px;
    float: left;
    width: 525px;
    height: 28px;
    font-size: 14pt;
    margin: 0px 0px 0px 10px;
    border: none;
}
#search:focus {
    outline: 0;
}
#micImg {
    position: relative;
    top: 3px;
    width: 1%;
    margin: 0px;
    padding: 0px;
}
#micImg {
margin: 0px;
padding: 0px;
}
#googleSearch {
    width: 130px;
    height: 37px;
    font-size: 10pt;
    color: rgb(129, 129, 129);
    font-weight: bold;
    background-color: #F2F2F2;
    border: none;
    margin: 3px;
}
#googleSearch:hover {
    border: 1px solid lightgray;
}
#luckySearch {
    width: 143px;
    height: 37px;
    font-size: 10pt;
    color: rgb(129, 129, 129);
    font-weight: bold;
    background-color: #F2F2F2;
    border: none;
    margin: 3px;
}
#luckySearch:hover {
    border: 1px solid lightgray;
}
#footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0px;
    font-size: 10pt;
    height: 37px;
    width: 100%;
}
#fNav, li, a {
    position: static;
    text-decoration: none;
    text-align: center;
    color: rgb(107, 107, 107);
    height: 20px;
    display: inline-block;
    margin-right: 8px;
}
#lMenu {
    float: left;
    display: flex;
}
#lMenu a {
    margin: 0 20px 0 0;
}
#rMenu {
    float: right;
    display: flex;
}
#rMenu a {
    margin: 0 20px 0 0;
}
a:hover {
    text-decoration: underline;
}
